.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 100%;
  max-height: 100%;
  overflow: auto;

  .card {
    border-radius: 12px;
    margin: 0;

    h2 {
      line-height: 1.5em;
    }
  }

  .radio {
    margin: 8px 0;
    border-radius: 12px;
  }

  .illustration {
    width: 80%;
    margin: auto;
    max-width: 360px;
  }

  .info {
    h3 {
      color: var(--ion-color-primary);
      font-weight: bold;
    }

    div {
      text-align: center;
      margin-bottom: 8px;

      small {
        color: var(--ion-color-success);
      }

      .icon {
        vertical-align: middle;
        margin: 0 4px;
      }
    }
  }
}
