.content {
  line-height: 1.5em;

  h3 {
    color: var(--ion-color-primary);
    border-bottom: 1px solid var(--ion-color-primary);
    padding: 8px 0;
    font-size: 1.25em;
    font-weight: bold;
  }

  p {
    code {
      color: #000;
      background-color: var(--ion-color-secondary);
      border-radius: 4px;
      padding: 0 4px;
    }
  }

  pre {
    color: #000;
    background-color: var(--ion-color-secondary);
    border-radius: 8px;
    padding: 12px;
  }

  img {
    width: 100%;
    border-radius: 8px;
    margin: 12px 0;
  }
}

.button {
  position: sticky;
  bottom: 0;
  padding: 16px 8px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
