@import url('@fontsource/fira-code');

ion-app {
  --ion-font-family: 'Fira Code', monospace;
  max-width: 1200px;
  margin: 0 auto;
}

ion-card {
  border-radius: 12px;
}

ion-toast.custom-toast::part(button) {
  border-left: 1px solid #fff;
}
