.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 100%;
  max-width: 600px;
  max-height: 100%;
  overflow: auto;

  .card {
    border-radius: 12px;
    margin: 0;

    h2 {
      line-height: 1.5em;
    }
  }

  .radio {
    margin: 8px 0;
    border-radius: 12px;
  }
}
